body {
  background-color: #fafaff;
}

.card {
  margin-bottom: 20px;
  background-color: #fafaff;
}

.conjugation-header {
  margin-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.result-msg {
  margin-top: 50px;
}

ul {
  list-style-type: none;
}

