{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'conjugator/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <title>
      {% block title %}
      {{ page_title }}
      {% endblock title %}
    </title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-info">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
      <div class="search-bar ml-auto">
        <button class="letter btn btn-light">ä</button>
        <button class="letter btn btn-light">ö</button>
        <button class="letter btn btn-light">ü</button>
        <button class="letter btn btn-light">ß</button>
      </div>
      <form class="form-inline" action="{% url 'search' %}" method="get">
        <input id="search" class="form-control ml-sm-2 mr-sm-2" name="q" type="search" placeholder="Search" required>
        <input class="btn btn-light my-2 my-sm-0" type="submit">
      </form>
      {% block button %}
      {% endblock button%}
    </nav>
    {% block content %}
    {% endblock content %}
    <script src="{% static 'js/searchbar.js' %}"></script>
  </body>
</html>