{% extends 'conjugator/base.html' %}
{% load humanize %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block button %}
<a href="{% url 'conjugation' prev_verb %}">
  <button class="btn btn-light ml-sm-2 my-2 my-sm-0">&laquo; Prev</button>
</a>
<a href="{% url 'conjugation' next_verb %}">
  <button class="btn btn-light ml-sm-2 my-2 my-sm-0">Next &raquo;</button>
</a>
{% endblock button %}

{% block content %}
<div class="container conjugation-container">
  <h3 class="conjugation-header text-center">Conjugation for '{{ verb.infinitive }}'</h3>
  <div class="card border-info">
    <h4 class="card-header bg-info text-white text-center">Nominal Forms & Translation</h4>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 col-xl">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Infinitive</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ verb.infinitive }}</td>
                </tr>
              </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-xl">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Translation</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ verb.translation }}</td>
                </tr>
              </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-xl">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Present Participle</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ verb.present_participle }}</td>
                </tr>
              </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-xl">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Past Participle</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ verb.past_participle }}</td>
                </tr>
              </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-xl">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Frequency Rank</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{ verb.frequency | ordinal }}
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Indicative Mood Conjugations -->
  <div class="card border-info">
    <h4 class="card-header bg-info text-white text-center">Indicative</h4>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-xl-4">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">Present</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ich</th>
                <td>{{ indicative_present.ich }}</td>
              </tr>
              <tr>
                <th>du</th>
                <td>{{ indicative_present.du }}</td>
              </tr>
              <tr>
                <th>er/sie/es</th>
                <td>{{ indicative_present.er }}</td>
              </tr>
              <tr>
                <th>wir</th>
                <td>{{ indicative_present.wir }}</td>
              </tr>
              <tr>
                <th>ihr</th>
                <td>{{ indicative_present.ihr }}</td>
              </tr>
              <tr>
                <th>sie/Sie</th>
                <td>{{ indicative_present.sie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-md-6 col-xl-4">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">Preterite</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ich</th>
                <td>{{ indicative_preterite.ich }}</td>
              </tr>
              <tr>
                <th>du</th>
                <td>{{ indicative_preterite.du }}</td>
              </tr>
              <tr>
                <th>er/sie/es</th>
                <td>{{ indicative_preterite.er }}</td>
              </tr>
              <tr>
                <th>wir</th>
                <td>{{ indicative_preterite.wir }}</td>
              </tr>
              <tr>
                <th>ihr</th>
                <td>{{ indicative_preterite.ihr }}</td>
              </tr>
              <tr>
                <th>sie/Sie</th>
                <td>{{ indicative_preterite.sie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-md-6 col-xl-4">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">Present Perfect</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ich</th>
                <td>{{ indicative_perfect.ich }}</td>
              </tr>
              <tr>
                <th>du</th>
                <td>{{ indicative_perfect.du }}</td>
              </tr>
              <tr>
                <th>er/sie/es</th>
                <td>{{ indicative_perfect.er }}</td>
              </tr>
              <tr>
                <th>wir</th>
                <td>{{ indicative_perfect.wir }}</td>
              </tr>
              <tr>
                <th>ihr</th>
                <td>{{ indicative_perfect.ihr }}</td>
              </tr>
              <tr>
                <th>sie/Sie</th>
                <td>{{ indicative_perfect.sie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-md-6 col-xl-4">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">Plusquamperfect</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ich</th>
                <td>{{ indicative_plusquamperfect.ich }}</td>
              </tr>
              <tr>
                <th>du</th>
                <td>{{ indicative_plusquamperfect.du }}</td>
              </tr>
              <tr>
                <th>er/sie/es</th>
                <td>{{ indicative_plusquamperfect.er }}</td>
              </tr>
              <tr>
                <th>wir</th>
                <td>{{ indicative_plusquamperfect.wir }}</td>
              </tr>
              <tr>
                <th>ihr</th>
                <td>{{ indicative_plusquamperfect.ihr }}</td>
              </tr>
              <tr>
                <th>sie/Sie</th>
                <td>{{ indicative_plusquamperfect.sie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-md-6 col-xl-4">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">Future</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ich</th>
                <td>{{ indicative_future.ich }}</td>
              </tr>
              <tr>
                <th>du</th>
                <td>{{ indicative_future.du }}</td>
              </tr>
              <tr>
                <th>er/sie/es</th>
                <td>{{ indicative_future.er }}</td>
              </tr>
              <tr>
                <th>wir</th>
                <td>{{ indicative_future.wir }}</td>
              </tr>
              <tr>
                <th>ihr</th>
                <td>{{ indicative_future.ihr }}</td>
              </tr>
              <tr>
                <th>sie/Sie</th>
                <td>{{ indicative_future.sie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-md-6 col-xl-4">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">Future Perfect</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ich</th>
                <td>{{ indicative_future_perfect.ich }}</td>
              </tr>
              <tr>
                <th>du</th>
                <td>{{ indicative_future_perfect.du }}</td>
              </tr>
              <tr>
                <th>er/sie/es</th>
                <td>{{ indicative_future_perfect.er }}</td>
              </tr>
              <tr>
                <th>wir</th>
                <td>{{ indicative_future_perfect.wir }}</td>
              </tr>
              <tr>
                <th>ihr</th>
                <td>{{ indicative_future_perfect.ihr }}</td>
              </tr>
              <tr>
                <th>sie/Sie</th>
                <td>{{ indicative_future_perfect.sie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Subjunctive I Mood Conjugations -->

  <div class="card border-info">
    <h4 class="card-header bg-info text-white text-center">Subjunctive I</h4>
    <div class="card-body bg-light">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-xl-3">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">Present</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ich</th>
                <td>{{ subjunctive_I_present.ich }}</td>
              </tr>
              <tr>
                <th>du</th>
                <td>{{ subjunctive_I_present.du }}</td>
              </tr>
              <tr>
                <th>er/sie/es</th>
                <td>{{ subjunctive_I_present.er }}</td>
              </tr>
              <tr>
                <th>wir</th>
                <td>{{ subjunctive_I_present.wir }}</td>
              </tr>
              <tr>
                <th>ihr</th>
                <td>{{ subjunctive_I_present.ihr }}</td>
              </tr>
              <tr>
                <th>sie/Sie</th>
                <td>{{ subjunctive_I_present.sie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-md-6 col-xl-3">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">Present Perfect</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ich</th>
                <td>{{ subjunctive_I_perfect.ich }}</td>
              </tr>
              <tr>
                <th>du</th>
                <td>{{ subjunctive_I_perfect.du }}</td>
              </tr>
              <tr>
                <th>er/sie/es</th>
                <td>{{ subjunctive_I_perfect.er }}</td>
              </tr>
              <tr>
                <th>wir</th>
                <td>{{ subjunctive_I_perfect.wir }}</td>
              </tr>
              <tr>
                <th>ihr</th>
                <td>{{ subjunctive_I_perfect.ihr }}</td>
              </tr>
              <tr>
                <th>sie/Sie</th>
                <td>{{ subjunctive_I_perfect.sie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-md-6 col-xl-3">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">Future</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ich</th>
                <td>{{ subjunctive_I_future.ich }}</td>
              </tr>
              <tr>
                <th>du</th>
                <td>{{ subjunctive_I_future.du }}</td>
              </tr>
              <tr>
                <th>er/sie/es</th>
                <td>{{ subjunctive_I_future.er }}</td>
              </tr>
              <tr>
                <th>wir</th>
                <td>{{ subjunctive_I_future.wir }}</td>
              </tr>
              <tr>
                <th>ihr</th>
                <td>{{ subjunctive_I_future.ihr }}</td>
              </tr>
              <tr>
                <th>sie/Sie</th>
                <td>{{ subjunctive_I_future.sie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-md-6 col-xl-3">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">Future Perfect</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ich</th>
                <td>{{ subjunctive_I_future_perfect.ich }}</td>
              </tr>
              <tr>
                <th>du</th>
                <td>{{ subjunctive_I_future_perfect.du }}</td>
              </tr>
              <tr>
                <th>er/sie/es</th>
                <td>{{ subjunctive_I_future_perfect.er }}</td>
              </tr>
              <tr>
                <th>wir</th>
                <td>{{ subjunctive_I_future_perfect.wir }}</td>
              </tr>
              <tr>
                <th>ihr</th>
                <td>{{ subjunctive_I_future_perfect.ihr }}</td>
              </tr>
              <tr>
                <th>sie/Sie</th>
                <td>{{ subjunctive_I_future_perfect.sie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Subjunctive II Mood Conjugations -->

  <div class="card border-info">
    <h4 class="card-header bg-info text-white text-center">Subjunctive II</h4>
    <div class="card-body bg-light">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-xl-3">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">Preterite</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ich</th>
                <td>{{ subjunctive_II_preterite.ich }}</td>
              </tr>
              <tr>
                <th>du</th>
                <td>{{ subjunctive_II_preterite.du }}</td>
              </tr>
              <tr>
                <th>er/sie/es</th>
                <td>{{ subjunctive_II_preterite.er }}</td>
              </tr>
              <tr>
                <th>wir</th>
                <td>{{ subjunctive_II_preterite.wir }}</td>
              </tr>
              <tr>
                <th>ihr</th>
                <td>{{ subjunctive_II_preterite.ihr }}</td>
              </tr>
              <tr>
                <th>sie/Sie</th>
                <td>{{ subjunctive_II_preterite.sie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-md-6 col-xl-3">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">Plusquamperfect</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ich</th>
                <td>{{ subjunctive_II_plusquamperfect.ich }}</td>
              </tr>
              <tr>
                <th>du</th>
                <td>{{ subjunctive_II_plusquamperfect.du }}</td>
              </tr>
              <tr>
                <th>er/sie/es</th>
                <td>{{ subjunctive_II_plusquamperfect.er }}</td>
              </tr>
              <tr>
                <th>wir</th>
                <td>{{ subjunctive_II_plusquamperfect.wir }}</td>
              </tr>
              <tr>
                <th>ihr</th>
                <td>{{ subjunctive_II_plusquamperfect.ihr }}</td>
              </tr>
              <tr>
                <th>sie/Sie</th>
                <td>{{ subjunctive_II_plusquamperfect.sie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-md-6 col-xl-3">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">Future</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ich</th>
                <td>{{ subjunctive_II_future.ich }}</td>
              </tr>
              <tr>
                <th>du</th>
                <td>{{ subjunctive_II_future.du }}</td>
              </tr>
              <tr>
                <th>er/sie/es</th>
                <td>{{ subjunctive_II_future.er }}</td>
              </tr>
              <tr>
                <th>wir</th>
                <td>{{ subjunctive_II_future.wir }}</td>
              </tr>
              <tr>
                <th>ihr</th>
                <td>{{ subjunctive_II_future.ihr }}</td>
              </tr>
              <tr>
                <th>sie/Sie</th>
                <td>{{ subjunctive_II_future.sie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-md-6 col-xl-3">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">Future Perfect</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ich</th>
                <td>{{ subjunctive_II_future_perfect.ich }}</td>
              </tr>
              <tr>
                <th>du</th>
                <td>{{ subjunctive_II_future_perfect.du }}</td>
              </tr>
              <tr>
                <th>er/sie/es</th>
                <td>{{ subjunctive_II_future_perfect.er }}</td>
              </tr>
              <tr>
                <th>wir</th>
                <td>{{ subjunctive_II_future_perfect.wir }}</td>
              </tr>
              <tr>
                <th>ihr</th>
                <td>{{ subjunctive_II_future_perfect.ihr }}</td>
              </tr>
              <tr>
                <th>sie/Sie</th>
                <td>{{ subjunctive_II_future_perfect.sie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}