{% extends 'conjugator/base.html' %}
{% load humanize %}

{% block title %}{{ verb.infinitive }} conjugation | {% endblock title %}

{% block button %}
<a href="{% url 'conjugation' prev_verb %}">
  <button class="btn btn-light ml-sm-2 my-2 my-sm-0">&laquo; Prev</button>
</a>
<a href="{% url 'conjugation' next_verb %}">
  <button class="btn btn-light ml-sm-2 my-2 my-sm-0">Next &raquo;</button>
</a>
{% endblock button %}

{% block content %}
<div class="container conjugation-container">
  <h3 class="conjugation-header text-center">Conjugation for '{{ verb.infinitive }}'</h3>
  <div class="card border-info">
    <h4 class="card-header bg-info text-white text-center">Nominal Forms & Translation</h4>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 col-xl">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Infinitive</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ verb.infinitive }}</td>
                </tr>
              </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-xl">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Translation</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ verb.translation }}</td>
                </tr>
              </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-xl">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Present Participle</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ verb.present_participle }}</td>
                </tr>
              </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-xl">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Past Participle</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ verb.past_participle }}</td>
                </tr>
              </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-xl">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Frequency Rank</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ verb.frequency|ordinal }}</td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% for mood in conjugations_grouped_by_mood %}
  {% cycle 'Indicative' 'Subjunctive I' 'Subjunctive II' as mood_name silent %}
  {% cycle 'col-xl-4' 'col-xl-3' 'col-xl-3' as xl_col_class silent %}
  <div class="card border-info">
    <h4 class="card-header bg-info text-white text-center">{{ mood_name }}</h4>
    <div class="card-body">
      <div class="row">
        {% for conjugation in mood %}
        <div class="col-sm-6 col-md-6 {{ xl_col_class }}">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">{{ conjugation.tense.name|title }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ich</th>
                <td>{{ conjugation.ich }}</td>
              </tr>
              <tr>
                <th>du</th>
                <td>{{ conjugation.du }}</td>
              </tr>
              <tr>
                <th>er/sie/es</th>
                <td>{{ conjugation.er }}</td>
              </tr>
              <tr>
                <th>wir</th>
                <td>{{ conjugation.wir }}</td>
              </tr>
              <tr>
                <th>ihr</th>
                <td>{{ conjugation.ihr }}</td>
              </tr>
              <tr>
                <th>sie/Sie</th>
                <td>{{ conjugation.sie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}