{% extends 'conjugator/base.html' %}

{% block brand %}Top 100 German Verbs{% endblock brand%}

{% block content %}
<div class="container">
  {% for message in messages %}
  <div class="alert alert-danger alert-dismissable fade show text-center">
    <button type="button" class="close" data-dismiss="alert">
      <span>&times;</span>
    </button>
    {{ message }}
  </div>
  {% endfor %}
  <div class="alert alert-primary">
    <h4 class="text-center">Welcome to Top 100 German Verbs!</h4>
  </div>
  <div class="row no-gutters">
    {% for col in col_list %}
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <ul>
        {% for verb in col %}
          <li>
            <span class="badge">{{ verb.frequency }}</span>
            <a class="alert-link" href="{% url 'conjugation' verb.infinitive %}">{{ verb.infinitive }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}