{% extends 'conjugator/base.html' %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block content %}
<div class="container">
  <div class="alert alert-primary">
    <h4 class="text-center">Welcome to Top 100 German Verbs!</h4>
    <hr>
    <p>Below is the list of the 100 most commonly used German verbs according to
      <a class="alert-link" href="https://www.amazon.com/Frequency-Dictionary-German-Vocabulary-Dictionaries/dp/0415316332">A Frequency Dictionary of German</a>. Click any link below or use the search box above to see a verb's conjugation pattern.
    </p>
  </div>
  <div class="row no-gutters">
    {% for col in col_list %}
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <ul>
        {% for verb in col %}
          <li>
            <span class="badge">{{ verb.frequency }}</span>
            <a class="alert-link" href="{% url 'conjugation' verb.infinitive %}">{{ verb.infinitive }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}